html {
    overflow-y: scroll;
}

.header{
    flex-direction: row;
}

.header-center {
    text-align: center;
    text-decoration: underline;
}

.header-right{
    display: flex;
    justify-self: flex-end;
}

.cart-btn{
    border: none;
    background: transparent;
}

.cart-btn:hover{
    svg{
        stroke: hsla(0, 79%, 29%, 0.955);
    }
}

.age-check {
    border: 1px solid black;
    width: 400px;
    height: 120px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    flex-direction: column;
    justify-self: center;
}

p,label,h2,h3,button {
    font-family: Arial, sans-serif;
}

/* Σκοτεινό background που καλύπτει όλη τη σελίδα */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* ημιδιαφανές μαύρο */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    /* πάνω από όλα */
}

/* Το modal box */
.cart_modal {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    max-width: 500px;
    max-height: 800px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    overflow: auto;
}

.cart_modal select {
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.cart_modal button {
    margin-top: 10px;
    margin-left: 5px;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
}

.cart-item{
    display: inline-block;
}

.remove-btn{
    background-color:  hsla(0, 100%, 39%, 0.951);
}

.remove-btn:hover{
    background-color:  hsla(0, 100%, 32%, 0.872);
}

.success-btn {
    background-color: hsla(120, 100%, 25%, 0.88);
}

.success-btn:hover {
    background-color: hsla(120, 100%, 19%, 0.92);
}

.cancel-btn {
    background-color: hsla(0, 100%, 37%, 0.886);
}

.cancel-btn:hover {
    background-color: hsla(0, 100%, 30%, 0.908);
}

.alert-class { 
    position: fixed; 
    bottom: 0;  
    right: 0; 
}