.cards {
    display: inline-block;
    margin-left: 5px;
}

.cards-container {
    border: 1px solid hsl(0, 0%, 80%);
    height: 340px;
    width: 340px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    margin: 15px;
}

img {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.quantity-btn {
    display: inline;
    margin: 8px;
}

.quantity {
    display: inline;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

.order-btn {
    margin-top: 10px;
    width: 80px;
    height: 25px;
    background-color: hsla(120, 100%, 25%, 0.855);
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bolder;
}

.disabled-order-btn{
    margin-top: 10px;
    width: 80px;
    height: 25px;
    border-radius: 5px;
    cursor: not-allowed;
}

.order-btn:hover {
    background-color: hsla(120, 100%, 21%, 0.914);
}

button {
    cursor: pointer;
}

.description,
.price {
    margin: 5px;
    font-family: Arial, sans-serif;
}