.header {
    text-align: center;
    text-decoration: underline;
}

.age-check{
    border: 1px solid black;
    width: 200px;
    height: 120px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    flex-direction: column;
    justify-self: center;
}

.age-check p,label {
    font-family: Arial, sans-serif;
}

.cards {
    display: inline-block;
    margin-left: 5px;
}

.cards-container {
    border: 1px solid hsl(0, 0%, 80%);
    height: 340px;
    width: 340px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
    margin: 15px;
}

img {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.quantity-btn {
    display: inline;
    margin: 8px;
}

.quantity {
    display: inline;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

.order-btn {
    margin-top: 10px;
    width: 80px;
    height: 25px;
    background-color: hsla(120, 100%, 25%, 0.855);
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bolder;
}

.disabled-order-btn{
    margin-top: 10px;
    width: 80px;
    height: 25px;
    border-radius: 5px;
    cursor: not-allowed;
}

.order-btn:hover {
    background-color: hsla(120, 100%, 21%, 0.914);
}

button {
    cursor: pointer;
}

.description,
.price {
    margin: 5px;
    font-family: Arial, sans-serif;
}

/* Σκοτεινό background που καλύπτει όλη τη σελίδα */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* ημιδιαφανές μαύρο */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    /* πάνω από όλα */
}

/* Το modal box */
.successful_order_modal {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.order-msg {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.successful_order_modal select {
    display: block;
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin-left: 83px;
}

.successful_order_modal button {
    margin-top: 10px;
    margin-left: 10px;
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 5px;
    height: 30px;
}

.success-btn {
    background-color: hsla(120, 100%, 25%, 0.88);
}

.success-btn:hover {
    background-color: hsla(120, 100%, 19%, 0.92);
}

.cancel-btn {
    background-color: hsla(0, 100%, 37%, 0.886);
}

.cancel-btn:hover {
    background-color: hsla(0, 100%, 30%, 0.908);
}

.alert-class { 
    position: fixed; 
    bottom: 0;  
    right: 0; 
}